    th {
        padding: 15px;
        text-align: right;
        height: 20px;
        color: whitesmoke;
        border: none;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 10px;
        font-size: 40px;
        border-radius: 10px;
    }
    
    table {
        float: left;
        padding: 2px;
        background-color: rgb(3, 2, 10);
        font-size: 50px;
        border: ridge 3px rgb(25, 30, 51);
    }
    
    tbody {
        padding: 2px;
        height: 20px;
        text-align: center;
        font-size: 200;
        color: whitesmoke;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10%;
    }
    
    span {
        text-align: left;
        color: lightseagreen;
    }
    
    table tr#ROW1 {
        background-color: lightseagreen;
        font-size: 25px;
    }
    
    table td#ROW2 {
        background-color: lightseagreen;
        border: 1px;
    }
    
    table td#ROW3 {
        background-color: lightseagreen;
        border: 1px;
    }
    
    table td#ROW4 {
        background-color: lightseagreen;
        border: 1px;
    }
    
    table td #ROW5 {
        font-size: 35px;
    }
    
    td {
        border-radius: 6px;
        font-size: 40px;
        height: 50px;
        font-size: 40px;
        text-align: center;
        border-radius: 10px;
        
    }